@import url("https://fonts.googleapis.com/css?family=Raleway:300,500|Roboto+Condensed:300|Source+Sans+Pro:600");
@keyframes boxShadow {
  0% {
    box-shadow: 0px 2px 3px transparent; }
  50% {
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.12); }
  100% {
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25); } }

body {
  height: 100%;
  overflow: hidden; }

.contain-float:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

div.modal div.modal-dialog {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative; }
  div.modal div.modal-dialog div.modal-content {
    height: auto;
    min-height: 100%;
    border-radius: 0; }
    div.modal div.modal-dialog div.modal-content div.modal-header {
      text-align: center;
      border: none; }
      div.modal div.modal-dialog div.modal-content div.modal-header button.close {
        opacity: 1; }
        div.modal div.modal-dialog div.modal-content div.modal-header button.close:focus, div.modal div.modal-dialog div.modal-content div.modal-header button.close:active {
          outline: none; }
        div.modal div.modal-dialog div.modal-content div.modal-header button.close > i {
          color: #ff2f2f; }
      div.modal div.modal-dialog div.modal-content div.modal-header h1.modal-title {
        padding: 20px 10px 10px;
        font-family: "Raleway", sans-serif;
        font-size: 40px;
        font-weight: bold;
        text-align: left; }
      div.modal div.modal-dialog div.modal-content div.modal-header hr {
        border-bottom: 1px solid #2e4568;
        margin: 0 auto 5px; }
      div.modal div.modal-dialog div.modal-content div.modal-header div.project-tags {
        color: #3c5c8c;
        text-align: left; }
    div.modal div.modal-dialog div.modal-content div.modal-body {
      height: auto; }
      div.modal div.modal-dialog div.modal-content div.modal-body .portfolio-section {
        margin: 20px auto 60px;
        min-height: 500px;
        height: auto; }
        div.modal div.modal-dialog div.modal-content div.modal-body .portfolio-section div.picture-container {
          height: auto;
          position: relative;
          text-align: center; }
          div.modal div.modal-dialog div.modal-content div.modal-body .portfolio-section div.picture-container i.fa-spin {
            font-size: 80px;
            position: relative;
            color: gray;
            display: inline-block;
            position: relative;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%); }
          div.modal div.modal-dialog div.modal-content div.modal-body .portfolio-section div.picture-container img {
            margin: 0 auto;
            display: block;
            border: 1px solid #BCBCBC;
            display: none; }
        div.modal div.modal-dialog div.modal-content div.modal-body .portfolio-section div.info-container {
          height: auto; }
          div.modal div.modal-dialog div.modal-content div.modal-body .portfolio-section div.info-container h4.info-title {
            font-family: "Roboto Condensed", sans-serif;
            font-size: 28px;
            font-weight: bold;
            margin: 0 auto 20px; }
      div.modal div.modal-dialog div.modal-content div.modal-body div.project-status {
        margin-top: 20px;
        margin-bottom: 20px; }
        div.modal div.modal-dialog div.modal-content div.modal-body div.project-status h3 {
          font-size: 40px;
          font-family: "Roboto Condensed", sans-serif;
          font-weight: bold;
          margin-bottom: 25px; }
        div.modal div.modal-dialog div.modal-content div.modal-body div.project-status span {
          padding-left: 75px;
          font-size: 18px; }
      div.modal div.modal-dialog div.modal-content div.modal-body div.technologies-used {
        margin-top: 20px;
        margin-bottom: 20px; }
        div.modal div.modal-dialog div.modal-content div.modal-body div.technologies-used h3 {
          font-size: 40px;
          font-family: "Roboto Condensed", sans-serif;
          font-weight: bold;
          margin-bottom: 25px; }
        div.modal div.modal-dialog div.modal-content div.modal-body div.technologies-used div.tech-container {
          padding: 0 75px; }
          div.modal div.modal-dialog div.modal-content div.modal-body div.technologies-used div.tech-container div.technology {
            display: inline-block;
            height: 36px;
            color: #ff912f;
            background-color: white;
            border: 2px solid #ff912f;
            padding: 10px 20px;
            font-size: 11px;
            margin: 10px; }
    div.modal div.modal-dialog div.modal-content div.modal-footer {
      border: none;
      padding-bottom: 50px; }
      div.modal div.modal-dialog div.modal-content div.modal-footer div.button-container {
        text-align: center;
        width: 100%;
        padding: 0; }
        div.modal div.modal-dialog div.modal-content div.modal-footer div.button-container button.btn {
          border-radius: 0;
          color: white;
          width: 120px; }
          div.modal div.modal-dialog div.modal-content div.modal-footer div.button-container button.btn:active, div.modal div.modal-dialog div.modal-content div.modal-footer div.button-container button.btn:focus {
            outline: none; }
          div.modal div.modal-dialog div.modal-content div.modal-footer div.button-container button.btn.github {
            background-color: #6cc644; }
          div.modal div.modal-dialog div.modal-content div.modal-footer div.button-container button.btn.website {
            background-color: #3c5c8c; }

@media screen and (max-width: 992px) {
  div.modal div.modal-dialog div.modal-content div.modal-body .portfolio-section {
    margin-bottom: 80px; }
    div.modal div.modal-dialog div.modal-content div.modal-body .portfolio-section div.picture-container {
      margin-bottom: 40px; }
      div.modal div.modal-dialog div.modal-content div.modal-body .portfolio-section div.picture-container img {
        max-height: 100%; } }

section {
  position: relative;
  z-index: 0;
  padding-top: 50px; }
  section div.header {
    height: auto; }
    section div.header div.title-wrapper {
      height: 50px;
      position: relative;
      bottom: 70px;
      opacity: 0; }
      section div.header div.title-wrapper div.hr-container {
        height: 100%;
        position: relative;
        overflow: hidden; }
        section div.header div.title-wrapper div.hr-container hr {
          display: block;
          margin: 0;
          width: 0;
          border-width: 1px;
          border-color: #223a5d;
          position: relative;
          top: 50%;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%); }
          section div.header div.title-wrapper div.hr-container hr.left {
            float: left; }
          section div.header div.title-wrapper div.hr-container hr.right {
            overflow: hidden; }
      section div.header div.title-wrapper h1.section-title {
        display: block;
        float: left;
        font-family: "Raleway", sans-serif;
        margin: 0 20px;
        font-size: 22px;
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%); }
  section div.content {
    opacity: 0;
    top: 100px;
    padding: 0 50px; }
    section div.content div.info {
      padding: 0 40px; }
      section div.content div.info p {
        font-size: 18px;
        font-weight: 300; }
  section#about {
    padding-top: 50px;
    display: block;
    min-height: 101vh; }
    section#about:before {
      content: "";
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: -1;
      background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url("../../../img/pancakes.png");
      background-size: cover;
      transform: scaleX(-1);
      filter: FlipH;
      z-index: 0; }
    section#about div.content div.img-wrapper {
      height: 100%; }
      section#about div.content div.img-wrapper img.headshot {
        width: 250px;
        height: 250px;
        border-radius: 50%; }
    section#about div.content div.info div#i-am-wrapper {
      height: 40px;
      margin: 0 0 20px;
      position: relative;
      left: -3px; }
      section#about div.content div.info div#i-am-wrapper h1.i-am-a {
        font-family: "Source Sans Pro", sans-serif;
        font-size: 40px;
        margin-top: 0;
        position: absolute; }
        section#about div.content div.info div#i-am-wrapper h1.i-am-a.secondary {
          opacity: 0;
          top: -30px; }
    section#about div.content div.info p {
      text-shadow: -1px 1px 0px white; }
      section#about div.content div.info p strong {
        font-weight: 500; }
    section#about div.content div.skills {
      margin: 10px auto;
      padding: 0; }
      section#about div.content div.skills h2 {
        font-family: "Raleway", sans-serif;
        font-size: 24px;
        text-align: center;
        font-weight: bold; }
      section#about div.content div.skills div.skills-container {
        border: 1px solid #223a5d; }
        section#about div.content div.skills div.skills-container div.skill-box h3.skill-header {
          font-family: "Raleway", sans-serif;
          font-size: 18px;
          font-weight: bold; }
  section#portfolio {
    display: block;
    background-color: white;
    height: auto;
    padding-top: 0px;
    overflow: hidden; }
    section#portfolio div.container-fluid {
      height: auto; }
      section#portfolio div.container-fluid div.row div.header div.title-wrapper {
        margin: 20px auto; }
      section#portfolio div.container-fluid div.row div#grid-filter-container {
        height: auto;
        text-align: center;
        margin-bottom: 40px; }
        section#portfolio div.container-fluid div.row div#grid-filter-container div#grid-filter-wrapper {
          height: 100%;
          display: inline-block;
          padding: 0 50px;
          max-width: 700px; }
          section#portfolio div.container-fluid div.row div#grid-filter-container div#grid-filter-wrapper div.grid-filter {
            display: inline-block;
            height: 37px;
            color: #ff912f;
            background-color: white;
            border: 2px solid #ff912f;
            padding: 10px 20px;
            cursor: pointer;
            font-size: 12px;
            margin: 10px; }
            section#portfolio div.container-fluid div.row div#grid-filter-container div#grid-filter-wrapper div.grid-filter.chosen {
              background-color: #ff912f;
              color: white; }
      section#portfolio div.container-fluid div.row div#portfolio-grid {
        padding: 0;
        min-height: 200px;
        position: relative; }
        section#portfolio div.container-fluid div.row div#portfolio-grid div.portfolio-box {
          height: 325px;
          margin-bottom: 30px; }
          section#portfolio div.container-fluid div.row div#portfolio-grid div.portfolio-box div.portfolio-box-content-wrapper {
            position: relative;
            width: 325px;
            height: 100%;
            margin: 0 auto;
            border: 1px solid #c8c8c8;
            cursor: pointer; }
            section#portfolio div.container-fluid div.row div#portfolio-grid div.portfolio-box div.portfolio-box-content-wrapper.shadowed {
              animation-name: boxShadow;
              animation-duration: .25s;
              animation-iteration-count: 1;
              animation-timing-function: ease-in-out;
              animation-fill-mode: forwards; }
            section#portfolio div.container-fluid div.row div#portfolio-grid div.portfolio-box div.portfolio-box-content-wrapper img.img-responsive {
              width: 100%;
              height: 200px;
              position: relative; }
            section#portfolio div.container-fluid div.row div#portfolio-grid div.portfolio-box div.portfolio-box-content-wrapper div.portfolio-box-content {
              height: 125px;
              border-top: 1px solid #c8c8c8;
              padding: 0px;
              position: relative; }
              section#portfolio div.container-fluid div.row div#portfolio-grid div.portfolio-box div.portfolio-box-content-wrapper div.portfolio-box-content h1.project-title {
                font-size: 20px;
                font-weight: 300;
                text-align: center; }
              section#portfolio div.container-fluid div.row div#portfolio-grid div.portfolio-box div.portfolio-box-content-wrapper div.portfolio-box-content p.project-description {
                text-align: center;
                font-size: 14px;
                width: 200px;
                margin: 0 auto; }
              section#portfolio div.container-fluid div.row div#portfolio-grid div.portfolio-box div.portfolio-box-content-wrapper div.portfolio-box-content a.read-more {
                position: absolute;
                display: block;
                width: 290px;
                height: 40px;
                padding-top: 10px;
                text-align: right;
                bottom: -40px;
                right: 30px;
                opacity: 0; }
                section#portfolio div.container-fluid div.row div#portfolio-grid div.portfolio-box div.portfolio-box-content-wrapper div.portfolio-box-content a.read-more:active, section#portfolio div.container-fluid div.row div#portfolio-grid div.portfolio-box div.portfolio-box-content-wrapper div.portfolio-box-content a.read-more:focus {
                  outline: none; }
  section#contact {
    background-color: #223a5d;
    min-height: 445px;
    height: auto;
    padding: 30px 10px;
    overflow: hidden; }
    section#contact div.header div.title-wrapper {
      color: white; }
      section#contact div.header div.title-wrapper div.hr-container hr.right {
        border-color: white; }
    section#contact div.content {
      height: auto;
      color: white;
      padding: 25px 50px 50px; }
      section#contact div.content div.contact-header {
        text-align: center;
        font-size: 25px;
        font-family: "Roboto Condensed", sans-serif;
        font-weight: bold; }
      section#contact div.content div.contact-info img.headshot {
        display: block;
        margin: 20px auto;
        width: 150px;
        height: 150px;
        border-radius: 50%; }
      section#contact div.content div.contact-info span {
        font-size: 16px;
        margin: 5px auto;
        display: block;
        width: 275px; }
        section#contact div.content div.contact-info span i {
          display: inline-block;
          width: 20px; }
          section#contact div.content div.contact-info span i.fa-envelope {
            font-size: 18px; }
          section#contact div.content div.contact-info span i.fa-mobile {
            font-size: 26px;
            padding-left: 3px;
            position: relative;
            top: 2px; }
          section#contact div.content div.contact-info span i.fa-map-marker {
            font-size: 20px;
            padding-left: 3px; }
      section#contact div.content div.form-wrapper {
        height: auto; }
        section#contact div.content div.form-wrapper h1.form-header {
          text-align: center;
          font-size: 30px;
          width: 350px;
          font-weight: 200;
          margin: 20px auto; }
        section#contact div.content div.form-wrapper form#email-form {
          width: 350px;
          height: auto;
          margin: 0 auto;
          color: black; }
          section#contact div.content div.form-wrapper form#email-form input, section#contact div.content div.form-wrapper form#email-form textarea {
            width: 100%;
            margin: 5px auto;
            border: 0px solid white;
            padding: 8px;
            transition: .10s ease-out; }
            section#contact div.content div.form-wrapper form#email-form input.focused, section#contact div.content div.form-wrapper form#email-form textarea.focused {
              border-bottom: 3px solid #FDB97C; }
            section#contact div.content div.form-wrapper form#email-form input:focus, section#contact div.content div.form-wrapper form#email-form textarea:focus {
              outline: none; }
            section#contact div.content div.form-wrapper form#email-form input[type=submit], section#contact div.content div.form-wrapper form#email-form textarea[type=submit] {
              padding: 5px; }
              section#contact div.content div.form-wrapper form#email-form input[type=submit].focused, section#contact div.content div.form-wrapper form#email-form textarea[type=submit].focused {
                border: 0px solid white; }
              section#contact div.content div.form-wrapper form#email-form input[type=submit]:active, section#contact div.content div.form-wrapper form#email-form textarea[type=submit]:active {
                box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); }
          section#contact div.content div.form-wrapper form#email-form textarea {
            height: 100px; }
  @media screen and (max-width: 1200px) {
    section#about div.content div.img-wrapper img.headshot {
      width: 250px;
      height: 250px; } }
  @media screen and (max-width: 992px) {
    section#contact div.content {
      margin: 20px auto;
      padding: 0px 50px 10px; }
      section#contact div.content div.contact-info img.headshot {
        width: 175px;
        height: 175px; }
      section#contact div.content div.contact-info span {
        font-size: 14px;
        width: 215px; }
      section#contact div.content div.form-wrapper {
        margin: 20px auto; } }
  @media screen and (max-width: 416px) {
    section div.header div.title-wrapper h1.section-title {
      margin-left: 0; }
    section div.content {
      padding: 0 10px; }
    section#about:before {
      content: "";
      position: fixed;
      background-size: 275%;
      transform: scaleX(-1);
      filter: FlipH; }
    section#about div.header {
      height: 50px; }
    section#about div.content div.img-wrapper img.headshot {
      width: 175px;
      height: 175px; }
    section#about div.content div.info {
      padding: 0 5px; }
      section#about div.content div.info div#i-am-wrapper {
        margin: 25px auto 15px;
        position: relative; }
        section#about div.content div.info div#i-am-wrapper h1.i-am-a {
          margin: 0;
          font-size: 24px; }
    section#portfolio div.container-fluid div.row div.header div.container {
      padding: 0; }
    section#portfolio div.container-fluid div.row div#portfolio-grid div.portfolio-box {
      float: none;
      margin-bottom: 60px;
      position: static !important; }
      section#portfolio div.container-fluid div.row div#portfolio-grid div.portfolio-box div.portfolio-box-content-wrapper {
        position: relative; }
        section#portfolio div.container-fluid div.row div#portfolio-grid div.portfolio-box div.portfolio-box-content-wrapper div.portfolio-box-content a.read-more {
          opacity: 1;
          right: 5px; }
    section#contact div.content {
      padding: 0 10px; }
      section#contact div.content div.contact-info img.headshot {
        width: 125px;
        height: 125px;
        margin-top: 0; }
      section#contact div.content div.form-wrapper h1.form-header {
        width: 100%; }
      section#contact div.content div.form-wrapper form#email-form {
        width: 100%; }
        section#contact div.content div.form-wrapper form#email-form input[type=submit] {
          font-size: 14px;
          padding: 10px; } }

header {
  min-height: 100vh;
  min-width: 100vw;
  height: 1px;
  border: 1px solid;
  background: radial-gradient(#2e4568 10%, transparent 16%) 0 0, radial-gradient(#2e4568 10%, transparent 16%) 8px 8px;
  background-color: #223a5d;
  background-size: 16px 16px;
  position: fixed;
  z-index: 2; }
  header div#header-content {
    position: relative;
    top: 40%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
    header div#header-content h1, header div#header-content div#sub-header {
      text-align: center;
      color: white;
      margin: 20px auto; }
    header div#header-content h1 {
      font-size: 70px;
      font-family: "Raleway", sans-serif;
      font-weight: 300; }
    header div#header-content hr {
      width: 200px; }
    header div#header-content div#sub-header {
      text-align: center;
      font-size: 24px;
      font-weight: 100;
      width: 650px; }
      header div#header-content div#sub-header span {
        text-align: center;
        display: inline-block; }
        header div#header-content div#sub-header span:nth-child(1) {
          width: 35%;
          border-right: 2px solid white;
          text-align: right;
          padding-right: 30px; }
        header div#header-content div#sub-header span:nth-child(2) {
          width: 25%; }
        header div#header-content div#sub-header span:nth-child(3) {
          width: 35%;
          border-left: 2px solid white;
          text-align: left;
          padding-left: 30px; }
  @media screen and (max-width: 992px) {
    header div#header-content h1 {
      font-size: 50px; }
    header div#header-content div#sub-header {
      width: 500px;
      font-size: 24px; }
      header div#header-content div#sub-header span:nth-child(1) {
        padding-right: 15px; }
      header div#header-content div#sub-header span:nth-child(3) {
        padding-left: 15px; } }
  @media screen and (max-width: 767px) {
    header div#header-content h1 {
      font-size: 35px; }
    header div#header-content div#sub-header {
      width: 400px;
      font-size: 18px; }
      header div#header-content div#sub-header span:nth-child(1) {
        padding-right: 15px; }
      header div#header-content div#sub-header span:nth-child(3) {
        padding-left: 15px; } }
  @media screen and (max-width: 416px) {
    header div#header-content h1 {
      font-size: 24px; }
    header div#header-content div#sub-header {
      width: 100%;
      font-size: 16px; }
      header div#header-content div#sub-header span:nth-child(1) {
        padding-right: 15px; }
      header div#header-content div#sub-header span:nth-child(3) {
        padding-left: 15px; } }
  @media screen and (max-width: 320px) {
    header div#header-content div#sub-header {
      font-size: 14px; } }
  @media screen and (max-height: 380px) {
    header div#header-content h1 {
      font-size: 30px; }
    header div#header-content div#sub-header {
      width: 500px;
      font-size: 20px; }
      header div#header-content div#sub-header span:nth-child(1) {
        padding-right: 15px; }
      header div#header-content div#sub-header span:nth-child(3) {
        padding-left: 15px; } }

nav#main-nav {
  height: 50px;
  width: 100%;
  top: -70px;
  position: fixed;
  overflow: visible;
  left: 0px;
  z-index: 2; }
  nav#main-nav div#hamburger-wrapper {
    height: 100%;
    width: 50px;
    top: 0px;
    right: 40px;
    position: absolute;
    padding-top: 10px; }
    nav#main-nav div#hamburger-wrapper div#hamburger {
      width: 35px;
      height: 30px;
      position: relative;
      margin: 0 auto;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .5s ease-in-out;
      -moz-transition: .5s ease-in-out;
      -o-transition: .5s ease-in-out;
      transition: .5s ease-in-out;
      cursor: pointer; }
      nav#main-nav div#hamburger-wrapper div#hamburger span {
        display: block;
        position: absolute;
        height: 3px;
        width: 100%;
        background: black;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out; }
      nav#main-nav div#hamburger-wrapper div#hamburger span:nth-child(1) {
        top: 0px;
        top: 12px; }
      nav#main-nav div#hamburger-wrapper div#hamburger span:nth-child(2), nav#main-nav div#hamburger-wrapper div#hamburger span:nth-child(3) {
        top: 12px; }
      nav#main-nav div#hamburger-wrapper div#hamburger span:nth-child(4) {
        top: 23px;
        top: 12px; }
      nav#main-nav div#hamburger-wrapper div#hamburger.open span:nth-child(1) {
        top: 12px !important;
        width: 0%;
        left: 50%; }
      nav#main-nav div#hamburger-wrapper div#hamburger.open span:nth-child(2) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg); }
      nav#main-nav div#hamburger-wrapper div#hamburger.open span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg); }
      nav#main-nav div#hamburger-wrapper div#hamburger.open span:nth-child(4) {
        top: 12px !important;
        width: 0%;
        left: 50%; }
  nav#main-nav div#menu {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    position: relative;
    bottom: 50px;
    -webkit-transition: .25s ease-out;
    -moz-transition: .25s ease-out;
    -o-transition: .25s ease-out;
    transition: .25s ease-out; }
    nav#main-nav div#menu.open {
      bottom: 0px; }
    nav#main-nav div#menu ul#options {
      width: 600px;
      height: 100%;
      margin: 0 auto; }
      nav#main-nav div#menu ul#options li {
        display: inline-block;
        width: 24%;
        font-size: 24px;
        text-align: center;
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%); }
        nav#main-nav div#menu ul#options li a {
          color: white; }
