@import url('https://fonts.googleapis.com/css?family=Raleway:300,500|Roboto+Condensed:300|Source+Sans+Pro:600');

// fonts

$roboto: 'Roboto Condensed', sans-serif;
$raleway: 'Raleway', sans-serif;
$sourceSans: 'Source Sans Pro', sans-serif;

// breakpoints
$break-iphone4: 320px;
$break-iphone6: 375px;
$break-iphone6plus: 416px;
$break-iphone6plus-height: 380px;
$break-sm: 767px;
$break-md: 992px;
$break-lg: 1200px;

// colors
$denimJeanBlue: #223a5d;
$jeanBlue: #2e4568;
$lightJeanBlue: #3c5c8c;
$briRed: #ff2f2f;
$githubGreen: #6cc644;